<header>
  <h1><%= @park.name %></h1>
  <p>Admissions: <%= number_to_currency(@park.price) %>
</header>
<body>
  <% @park.rides.each do |ride| %>
    <%= ride.name %>
  <% end %>
  <p>Average Thrill Rating of Rides: <%= @park.average_thrill %>/10</p>
</body>
